#background
{
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100vh;
}
#background video
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#background ::after
{
    content: '';

    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0
    disp
    back;
}